/* Advanced Software and Web Developer Diploma - Part VI - JavaScript Course */
/* ToDo App Styling */
/* by Steven Partlow */

/* General Styling for the whole page */
html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
    background-color: cornsilk;
}

/* Styling for the body element */
body {
    max-width: 500px; /* Nothing in the body can be wider than 500 pixels */
    margin: 0 auto;
}

/* Styling for the input box */
input {
    padding-top: 30px; /* Padding at the top */
    width: 500px; /* Make the input box 500 pixels wide */
    height: 60px; /* Make the input box 60 pixels high */

    text-align: center; 
    font-size: 40px; /* The text typed into the input box is 40 pixels in size */
    background-color: darkred;
    color: goldenrod;
    text-shadow: 2px 2px black;

    border: 2pt solid black; /* No border on the input box */
    box-shadow: 5px 5px black;
}

    input:focus {
        outline: none;
    }

/* Styling for the Add Item Button*/
.add-button {
    margin-top: 0.25cm;
    height: 40px;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px black;
    color: white;
    background-color: rgb(14, 80, 14);
}

/* Sttyling for the actual to do list */
.todos {
    border: 2pt solid black;
    box-shadow: 5px 5px black;

    background-color: darkred;
    color: goldenrod;
}

/* Styling for the actual ToDo list */
li {
    text-align: left; /* Tasks aligned to the left hand side */
    font-size: 40px; /* */
    list-style: none; /* The text of the tasks appears 40 pixels in size */
    margin: 0; /* No margins for the tasks list */
    padding: 5px;
    text-shadow: 2px 2px black;
}

.remove {
    padding-bottom: 5px;
}


/* Styling for the footer element */
.footer {
    /* Fix the footer to the bottom of the page */
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%; /* The footer takes up the width of the page */
    padding-left: 5px;
    background-color: darkred;
    color: goldenrod;
    text-align: left; /* The text appears from the left of the page */
    border-top: solid 2.5px black;
}