/* Advanced Software and Web Developer Diploma - Part VI - JavaScript Course */
/* One-Page Website Assignment - JavaScript Update */
/* by Steven Partlow */

ul {  /* Style unordered lists to use squares */
    font-family: Helvectia, Calibri, sans-serif;
    font-weight: 900;
    list-style-type: square; 
} 

h1 { /* Style h1 elements */
    font-family: Helvectia, Calibri, sans-serif;
    font-size: 1.5cm;
    font-weight: 900;
    line-height: 1.3;
    text-shadow: 1px 1px 2px rgba(138, 129, 129, 0.9);
}

h2, h3 { /* Style h2, h3 elements */
    font-family: Helvectia, Calibri, sans-serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.3;
    text-shadow: 1px 1px 2px rgba(138, 129, 129, 0.9);
}

.menu { /* Styles the nav bar */
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Keeps the navbar at the top of the screen even if we scroll down */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Keeps the navbar above everything else */
}

.menu a { /* Styles the links inside navigaion bar */
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvectia, Calibri, sans-serif;
    font-size: 17px;
}

.menu a:hover { /* Change the colour of link in the nav bar when on hover */
    background-color: #ddd;
    color: black;
}

.menu a.active { /* Add a colour to the active current link */
    background-color: rgb(164, 14, 14);
    color: white;
}

.menu-right { /* Right-Align the 'menu-right' elements so about us and contact above in the top-right of the browser */
    float: right;
}

#about, article { /* Styles the text in the main article */
    font-family: Helvectia, Calibri, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.3;
    text-shadow: 1px 1px 2px rgba(138, 129, 129, 0.9);
}

.boxart-image { /* Styles the head image for the site */
    text-align: center; /* Centers the image in the middle of the browser */
    width: auto; /* Auto adjusts the height and width of the image depeanding */
    height: auto; /* on the size of the browser window */
    max-width: 100%;
    max-height: 100%;
}
.media_container { /* Styles the container that screenshots and videos appear in */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #424549;
    background-color: rgb(164, 14, 14);
}

/* JavaScript Course - Challenge #22: Add a Lightbox */

.row > .column { /* Rows and Columns have no padding at the top but some on the right-hand side */
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;

    position: relative;
    line-height: 0;
    margin-bottom: 2cm;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
}

/* The modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hides the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1 / 3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* End Challenge #22 */

.video-container { /* Adds a margin between videos */
    margin: 20px;
}

.contact_form { /* Styles the background and border around the contact form */
    background-color: rgb(164, 14, 14);
    border: 2px;
}

.contact_form_input { /* Styles the text labels for the contact form inputs */
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Helvectia, Calibri, sans-serif;
}

.contact_form_input input[type="text"] { /* Styles the contact form input boxes */
    border-radius: 5px;
    color: darkslategray;
}

footer { /* Styles the footer element */
    font-family: Arial, Helvetica, sans-serif;
}