/* Advanced Software and Web Developer Diploma */
/* Course #6 - JavaScript Project / Project # 1 - Tic Tac Toe Game */
/* by Steven Partlow */

h1 { /* Styling for ht headline 1 element above the game table */
    border: 2px solid rgba(6, 98, 35); /* Add a border to the headline */
    box-shadow: 2px 2px black; /* Give the border a slight shadow */
    border-radius: 5px; /* With slightly curved edges */
    padding: 8px; /* Add padding around the headline */
    margin-bottom: 10px; /* Add a gap between the headline and the game board */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white; /* Change text colour to white */
    text-shadow: 3px 3px black; /* Give the text a slight black shadow */
    background-color: rgba(6, 98, 35); /* Make the background green */
    text-align: center; /* Centre the headline element in the middle of the browser */
}

/* This container includes our table and our canvas. */
.center-container {
    /* This property sets the width of our container. */
    width: 608px;
    /* This property centers our container. */
    margin: 0 auto;
    /* 50 px down from the top */
    margin-top: 50px;
}

table {
    /* This property collapse table borders into 1 border. */
    border-collapse: collapse;
    /* This hides outer borders on table. */
    border-style: hidden;
}

td { /* Styling for each of the nine game board elements */
    /* This property changes the cursor to the index finger hand when we hover over td elements. */
    cursor: pointer;
    /* This property sets our table border style. */
    border: 4px solid rgba(6, 98, 35, 0.8);
    /* This property removes default padding. */
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas { /* Styling for the canvas */
    /* This property sets the position of our canva to the top left corner of our container. */
    position: absolute;
    /* This property places our canvas over the top of our table. */
    z-index: 10;
    /* This property makes our canvas invisible. */
    pointer-events: none;
}

a { /* Styling for hyperlink */
    color: yellow; /* Set text colour to yellow */ 
    text-decoration: none; /* Remove the underline */
}

footer { /* Styling for the footer element */
    position: fixed; /* Fix the footer in place */
    left: 0; /* In the bottom-left of the web page */
    bottom: 0;
    width: 100%; /* Make it the width of the browser window */
    padding: 3px; /* Give it some small padding */
    margin: 5px 0px 0px 0px; /* */
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt; /* Set font size to 11 */
    background-color: rgba(6, 98, 35); /* Make the background green */
    color: white; /* Change text colour to white */
}
  